.dialogFrame {
    box-sizing:border-box;
    position:absolute;
    left:calc(50% - 500px);
    top:calc(50% - 250px);
    width:1000px;
    height:500px;
    opacity:0.9;
}

.dialogGoButton {
    box-sizing:border-box;
    position:absolute;
    left:850px;
    top:0px;
    width:150px;
    height:26px;
    font-family:Arial;
    font-size:14pt;
    font-weight:bold;
    text-align:center;
    padding-top:2px;
    background-color:#7777AA;
    border:1px solid #000033;
    border-radius:4px;
    cursor:pointer;
    user-select:none;
}

.dialogGoButton:hover {
    background-color:#8888FF;
}

.dialogTab, .dialogTabSelected {
    box-sizing:border-box;
    position:absolute;
    top:0px;
    width:150px;
    height:30px;
    font-family:Arial;
    font-size:14pt;
    font-weight:bold;
    padding:4px 0px 0px 6px;
    border-top:1px solid #000033;
    border-left:1px solid #000033;
    border-right:1px solid #000033;
    border-top-right-radius:8px;
    cursor:pointer;
    user-select:none;
    z-index:101;        /* tab to be slightly over view so it knocks out border of view */
}

.dialogTab {
    background-color:#777777;
}

.dialogTabSelected {
    background-color:#EEEEEE;
}

.dialogTabView {
    box-sizing:border-box;
    position:absolute;
    left:0px;
    top:29px;
    width:1000px;
    height:470px;
    padding:25px;
    background-color:#EEEEEE;
    border:1px solid #000033;
    z-index:100;
}

.dialogControlRow {
    width:100%;
    height:35px;
}

.dialogControlLeftCol {
    float:left;
    width:calc(50% - 5px);
    text-align:right;
    padding-right:5px;
    padding-top:2px;
}

.dialogControlRightCol {
    float:left;
    width:calc(50% - 5px);
    padding-left:5px;
}

.dialogControlLabel {
    opacity:1.0;
    font-family:Arial;
    font-size:12pt;
    font-weight:normal;
}

.dialogControlInputText, .dialogControlInputSelect {
    width:200px;
    opacity:1.0;
    font-family:Arial;
    font-size:12pt;
    font-weight:normal;
}

.dialogControlInputRange {
    opacity:1.0;
}

.dialogControlInputCheckbox {
    opacity:1.0;
}

.dialogControlButton {
    box-sizing:border-box;
    float:left;
    width:100%;
    height:28px;
    font-family:Arial;
    font-size:14pt;
    font-weight:bold;
    text-align:center;
    padding:2px 5px 0px 5px;
    background-color:#7777AA;
    border:1px solid #000033;
    border-radius:4px;
    cursor:pointer;
    user-select:none;
}

.dialogControlButton:hover {
    background-color:#8888FF;
}

.dialogFade {
    position:absolute;
    left:0px;
    top:0px;
    width:100%;
    height:100%;
    background-color:#000000;
    opacity:0.9;
    z-index:1000;
}

.dialogProgressFrame {
    box-sizing:border-box;
    position:absolute;
    left:5%;
    top:calc(50% - 15px);
    width:90%;
    height:30px;
    border:1px solid #000033;
    background-color:#CCEECC;
    opacity:1.0;
}

.dialogProgress {
    box-sizing:border-box;
    position:absolute;
    left:0px;
    top:0px;
    width:0%;
    height:100%;
    background-color:#00AA00;
}

.dialogProgressTitle {
    box-sizing:border-box;
    position:absolute;
    left:0px;
    top:0px;
    width:100%;
    height:100%;
    padding-top:3px;
    font-family:Arial;
    font-size:14pt;
    font-weight:normal;
    text-align:center;
}

.dialogMessage {
    box-sizing:border-box;
    position:fixed;
    left:calc(50% - 250px);
    bottom:5px;
    width:500px;
    height:28px;
    background-color:#000000;
    border-radius:8px;
    font-family:Arial;
    font-size:14pt;
    font-weight:normal;
    text-align:center;
    color:#FFFFFF;
    text-align:center;
    padding-top:3px;
}

